<a href="https://colab.research.google.com/github/2017130744/-neowizard/blob/main/02%20python%20data%20type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
c = []
c.append(100) ##append는 리스트에 새로운 원소를 집어넣는다.

[100]

In [4]:
#슬라이싱

a = [10,20,30,40,50]
a[0:2] ##인덱스 0부터 2-1=1까지. 10과 20 출력
a[:3] ## 인덱스 0부터 3-1=2까지. 10,20,30 출력
a[2:] ## 인덱스 2부터 끝까지. 30,40,50 출력
a[-4:-1] ## 인덱스 -4부터 -1까지. 20,30,40,50 출력
a[:]  ## 인덱스 처음부터 끝까지 모두 출력.

[10, 20, 30, 40, 50]

In [ ]:
#튜플: 리스트는 원소를 변경할 수 있지만 튜플은 변경할 수 없다. 

a = (10,20,30,40,50)
a[0] ## 튜플은 리스트와 같이 인덱스 가능
a[1:4] ##튜플은 리스트와 같이 슬라이싱 가능

a[0] = 100 ## 에러가 뜬다. 리스트는 원소를 바꿀 수 있지만 튜플은 불가능하다.

In [8]:
#딕셔너리: {key:value} 의 형태.

score = {'kim':90, 'lee':85, 'jun':95}

score['kim'] ##딕셔너리는 인덱스를 key값으로 value를 출력한다. 

score['han'] = 100  ##딕셔너리는 존재하지 않는 key값으로 새로운 value를 지정해줘서 추가할 수 있다. 
                    ##딕셔너리는 반드시 입력한 순서대로 데이터가 들어가는 것이 아니므로 주의. 

score.keys() ##딕셔너리의 모든 key값을 출력
score.values() ##딕셔너리의 모든 value를 출력
score.items() ##딕셔너리의 모든 key:value를 출력

dict_items([('kim', 90), ('lee', 85), ('jun', 95), ('han', 100)])

In [10]:
##string -> 파이썬 문자열은 따옴표를 사용해 생성. 문자열 내 각각의 값 또한 문자열로 인식

a = 'A73,CD'
a[1] ##이 때 7의 데이터타입은 num이 아니라 string이다. 

a = a+ ', EFG' ##문자열은 또 다른 문자들을 추가해줄 수 있다. 
b = a.split(,) ##split은 특정 separator를 기준으로 문자열을 분리하여 리스트로 리턴

'7'

In [11]:
#유용한 함수들

a = [10,20,30,40,50]
b = (10,20,30,40,50)
c = {'kim':80, 'lee':90}
d = 'seoul'
e = [[100,200], [300,400], [500,600]]

print(type(a), type(b), type(c), type(d), type(e)) ##a의 데이터타입을 출력. 
print(len(a), len(b), len(c), len(d), len(e)) ##a의 길이를 출력. 데이터의 길이는 요소의 개수를 의미한다. 딕셔너리의 경우 key와 value의 쌍의 개수를 출력한다. string의 경우 공백도 포함된다. 
print(size(e)) ##size는 그 데이터타입의 모든 원소의 개수를 출력.

<class 'list'> <class 'tuple'> <class 'dict'> <class 'str'> <class 'list'>
5 5 2 5 3

In [14]:
#유용한 함수들

a = 'hello'
b = {'kim':80, 'lee':90}

## list함수

print(list(a)) ##문자열을 각각의 element로 분해되어 리스트로 출력
print(list(b.keys())) ##모든 key값을 원소로 가지는 리스트로 출력
print(list(b.values())) ##모든 value를 원소로 가지는 리스트로 출력
print(list(b.items())) ##모든 쌍을 튜플로 만들어서 원소로 가지는 리스트 출력
type(list(b.items())[0]) ## tuple이라고 나온다. 

## str함수: 입력된 데이터를 문자열로 변환하여 리턴
c = 3.14
str(c) ## '3.14'로 나오며 데이터타입은 string

## int함수: 문자열로 입력된 숫자나 소수점이 있는 숫자를 정수 형태로 리턴
int('3.14') ## 3으로 출력. 정수부분만 나온다. 만약 소수점 이하 숫자도 출력하려면 float()을 쓴다.

['h', 'e', 'l', 'l', 'o']
['kim', 'lee']
[80, 90]
[('kim', 80), ('lee', 90)]

'3.14'